/*Fixed borders*/

*{
  box-sizing: border-box;
  font-family:Trebuchet MS,Helvetica,sans-serif;
}


/*HTML and BODY 100%*/

html,
body{
  min-height: 100%;
  overflow-x: hidden;
}


/*Background color*/

body{
  background-color: #FFF;
}


/*Removes input glow*/

:focus{
  outline: none;
}


/*Placeholder color*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}


/*Submit and button show pointer*/

input[type="submit"],
button{
  cursor: pointer;
}


/*Remove up and down arrows from input type number*
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Apple input prefix*/

input{
  border-radius: 0;
}


/*Responsive images*/

img{
  height: auto;
  max-width: 100%;
}


/*Header*/

.main-header{
  background-color: #1072b5;
  min-width: 100%;
  min-height: 80px;
  display: flex;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
}

/*Logo*/

.logo{
  margin-right: 10px;
}

.logo a{
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 60px;
  font-size: 40px;
  font-family: 'Niconne', cursive;
  text-shadow: 3px 3px #eb5f69;
}

.logo a img{
  height: 60px;
  margin-right: 10px;
  background-color: #f0f0f0;
  box-shadow: rgba(235,95,105, 0.16) 0px 1px 4px, rgb(235,95,105) 0px 0px 0px 3px;
  border-radius: 50%;
  padding: 5px;
}


/*navigator*/

.main-navigator{
  margin-left: auto;
}

.main-navigator ul{
  display: flex;
  line-height: 60px;
}

.main-navigator ul li{
  margin-left: 30px;
}

.main-navigator ul li:first-child{
  margin-left: 0;
}

.main-navigator li{
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  font-size: 34px;
  border-radius: 10%;
  text-shadow: 3px 3px #eb5f69;
  transition: all ease-in-out 0.3s;
  font-family: 'Niconne', cursive;
  cursor: pointer;
}

.main-navigator li:hover{
  color: #eb5f69;
  text-shadow: none;
}


/*Main*/

.main-content{

}


/*landingpage*/

.landingpage{

}


/*Popup*/

.popup-overlay{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(16, 114, 181, 0.4);
  display: none;
}


/*Login*/

.login{
  background-color: #fff;
  min-height: 400px;
  min-width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5%;
  padding: 40px;
  display: none;
}

.login .close-popup{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #e60000;
  cursor: pointer;
}

.login h2{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #00a9cf;
  margin-bottom: 40px;
  text-shadow: 2px 2px #f1f1f1;
}

.login .login-error{
  color: #e60000;
  margin-bottom: 20px;
  background-color: #fae5e5;
  padding: 12px;
  font-weight: bold;
  border: 1px solid #e60000;
  border-left-width: 6px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: none;
}

.login form{
  min-width: 100%;
}

.login form label{
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
}

.login form input{
  display: block;
  min-width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-color: #ccc;
}

.login form input[type="submit"]{
  margin-bottom: 0;
  background-color: #00a9cf;
  color: #fff;
  border-color: #00a9cf;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px #eb5f69;
  border-style: solid;
}

.login form input[type="submit"]:hover{
  background-color: #007f9c;
}

.login form div{
  position: relative;
}

.login form .show-password{
  position: absolute;
  right: 10px;
  top: 30%;
  font-size: 20px;
  color: #00a9cf;
  cursor: pointer;
}

.login .forgot-password{
  text-align: center;
  color: #00a9cf;
  margin-top: 20px;
  cursor: pointer;
}


/*Registrer*/

.register{
  background-color: #fff;
  min-height: 400px;
  min-width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5%;
  padding: 40px;
  display: none;
}

.register .close-popup{
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #e60000;
  cursor: pointer;
}

.register h2{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #00a9cf;
  margin-bottom: 40px;
  text-shadow: 2px 2px #f1f1f1;
}

.register .register-error{
  color: #e60000;
  margin-bottom: 20px;
  background-color: #fae5e5;
  padding: 12px;
  font-weight: bold;
  border: 1px solid #e60000;
  border-left-width: 6px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: none;
}

.register .register-succes{
  color: #47ad2c;
  margin-bottom: 20px;
  background-color: #c7e4b9;
  padding: 12px;
  font-weight: bold;
  border: 1px solid #47ad2c;
  border-left-width: 6px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: none;
}

.register form{
  min-width: 100%;
}

.register form label{
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
}

.register form input{
  display: block;
  min-width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-color: #ccc;
}

.register form input[type="submit"]{
  margin-bottom: 0;
  background-color: #00a9cf;
  color: #fff;
  border-color: #00a9cf;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px #eb5f69;
  border-style: solid;
}

.register form input[type="submit"]:hover{
  background-color: #007f9c;
}

.register form div{
  position: relative;
}

.register form .show-password{
  position: absolute;
  right: 10px;
  top: 30%;
  font-size: 20px;
  color: #00a9cf;
  cursor: pointer;
}
